body {
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg);
}

/* entire page */
.page {
  border: 10px solid white;
  background-color: white;
}

/* head part */
.head {
  text-align: right;
  background-color: #1D2475;
  color: white;
}

.head2 {
  font-size: 14pt;
  color: #CCCCCC;
}

h2 span {
  border-bottom: 2px dashed blue;
}

/* content part */
.con_set {
  overflow: hidden;
}

.contents {
  border: 4px solid #1D2475;
  border-radius: 15px;
  background-color: #99CCFF;
  padding: 5px;
  margin-top: 10px;
  float: left;
}

.contents img {
  float: right;
}

.contents p {
  text-align: justify;
}

/* side part */
.side {
  width: 150px;
  background-color: #3366CC;
  border: 4px solid #1D2475;
  border-radius: 15px;
  color: #CCCCCC;
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

.side h1 {
  color: #CCCCCC;
}

body *:not(.page):not(.con_set):not(.contents):not(.side):not(.link):not(.validator):not(.head):hover{
  background-color: #A6CE39;
}
/* body :not([class]) :hover {
  background-color: #A6CE39;
} */
